{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>

    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    <script src="{% static 'js/auth.js' %}" defer></script>
</head>

<body>

<div class="box">
    <h2>Login</h2>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <!-- Refresh captcha -->
        <span class="refresh" id="refreshLink">🔄 Refresh Captcha</span>

        <br>

        <button type="submit" id="submitBtn">Login</button>
    </form>

    <!-- HOME BUTTON -->
    <a href="/" class="home-btn">← Back to Home</a>

    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}
</div>

</body>
</html>
